@model Facturita.Core.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
}

<h1>Crear Producto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PrecioCompra" class="control-label"></label>
                <input asp-for="PrecioCompra" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="PrecioCompra" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PrecioVenta" class="control-label"></label>
                <input asp-for="PrecioVenta" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="PrecioVenta" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" type="number" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>